<h1>Listing orders</h1>

  <table>
    <tr>
      <th>Quantity</th>
      <th>Item</th>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
     <% unless !params[:customer_id].nil? %>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.quantity %></td>
          <td><%= order.item.name %></td>
          <td><%= order.total %></td>
          <td><%= link_to 'Show', order %></td>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
      <%= orders_for_customer(params[:customer_id]) %>
    <% end %>
  </table>

  <br/>

  <%= link_to 'New Order', new_order_path %>
